.container{
    background-image: url(./img/fondchat.avif);
    background-size: 500px 500px;
    transition: all 2s;
}
.triangle{
    transition: all 2s;

}
.triangle2{
    transform: translate(52px,0px) rotate(180deg);
    transition: all 2s;
}
.triangle3{
    transform:translate(10px, 132px) rotate(180deg);
    transition: all 2s;
}

.triangle4{
    transform:translate(85px, 132px);
    transition: all 2s;

}
.triangle5{
    transform:translate(100px, 245px) rotate(45deg);
    transition: all 2s;

}
.carre{
    transform:translate(16px, 70px) rotate(45deg);
    transition: all 2s;
}
.parallelogram{
    transform:translate(222px, 310px) skew(45deg);
    transition: all 2s;
}



