.triangle{
    transform:translate(70px, 44px) rotate(135deg);
    transition: all 2s;
}
.triangle2{
    transform: translate(75px,90px) rotate(90deg);
    transition: all 2s;
}
.triangle3{
    transform:translate(150px, 160px) rotate(180deg);
    transition: all 2s;
}

.triangle4{
    transform:translate(280px, 240px) rotate(315deg);
    transition: all 2s;

}
.triangle5{
    transform:translate(130px, 240px) rotate(135deg);
    transition: all 2s;

}
.carre{
    transform:translate(118px, 133px) rotate(135deg);
    transition: all 2s;
}
.parallelogram{
    transform: translate(300px, 416px) rotate(90deg) skew(-45deg);
    transition: all 2s;
} 
